.leftArrow{
  width: 150px;
  height: 150px;
  border-left: 10px solid crimson;
  border-bottom: 10px solid crimson;
  opacity: 0.5;
  transform: rotate(45deg);
  position: absolute;
  top: 33%;
  left: -97px;
  transition: opacity 1s ease-in-out;
  &:hover{
    opacity: 1;
  }
}

.rightArrow{
  width: 150px;
  height: 150px;
  border-left: 10px solid crimson;
  border-bottom: 10px solid crimson;
  opacity: 0.5;
  transform: rotate(225deg);
  position: absolute;
  top: 33%;
  right: -97px;
  transition: opacity 1s ease-in-out;
  &:hover{
    opacity: 1;
  }
}