
.calendarDay{
  color: rgb(16, 16, 109);
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 1.45;
  color: #B8B8B8;
}

.dayStyle{
  color: crimson;
  font-size: 1.3rem;
  font-weight: bold;
}