@import "../../common/styles/common.scss";

.rightSide{
  width: 65%;
  background-color: #F5F5F5;
  color: #14A099;
  .dayStyle{
    color: crimson;
    font-size: 1.3rem;
    font-weight: bold;
  }
}